<!DOCTYPE html>
<html lang="en">

<%- include('../inc/head') %>
<body>
    <div>
        <%- include('../inc/header') -%>
        <main>
            <%-body -%>
        </main>
    </div>
    <%- include('../inc/footer') -%>
</body>

</html>